<h1>Bearbnb</h1>
<p> Welcome to Bearbnb </p>

<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div>


<%= link_to "Connect With Facebook", "/auth/facebook" %>
