<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations! You have received a request for booking from <%= @customer.last_name %>, <%=@customer.first_name%></h1>

     <p>
       You can see details of your the new booking request and verify through here:</p> <a href="<%= @url %>"> new booking request </a>
   </body>
</html>
