<h1>Congratulations! You have received a booking from <%= @customer.last_name %>, <%=@customer.first_name%></h1>
   <p>
     You can see details of your the new booking request and verify through here: <a href='<%= @url %>'> verified new booking request</a>
   </p>
